body {
  background-color: #F5F5F5;
  color: #93B16C;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

#banner {
  background-color: #C7D0D5;
  font-family: georgia, serif;
  font-size: 18px;
  line-height: 50px;
  padding: 5px;

}

#banner_title {
  color: #FF7148;
  font-size: 25px;
  font-weight: bold;

}

#failrow {
  background-color: #EC583A;
  color: #000;
  border-color: #EC583A;
}

#footer {
  color: #EC583A;
 }

#percentage {
  font-size: 30px;
  font-weight: bold;
  color: #FF7148;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table.left {
  margin-left: 0px;
  margin-right: auto;
  background-color: #C7D0D5
}

td.percentage {
  padding: 10px;
}

h2 {
  color: #EC583A;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #EC583A;
  &:visited {
    color: #EC583A;
  }
  &:hover {
    color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
